{namespace example.template}

/**
 * Prints out the results of search
 */
{template .results}
  <script>
    example.sayHello('Hello World!');
  </script>
{/template}


/**
 * simple hello world
 */
{template .hello_world}
  Hello world!
{/template}